*.*~
.cache
.lsp-session*
.org-id-locations
abbrev_defs
auto-save
backups
bookmarks
custom.el
dape-breakpoints
diary
eclipse.jdt.ls
ede-projects.el
eglot-java-eclipse-jdt-cache
eln-cache
elpa
games
history
network-security.data
org-persist
places
projects
pyim
recentf
save-place
share
tramp
transient
tree-sitter
url
workspace
