backups
diary
eln-cache
share
tramp
transient
places
projects
.org-id-locations
history
abbrev_defs
bookmarks
games
recentf
custom.el
eglot-java-eclipse-jdt-cache
*.*~
elpa
.cache
workspace
tree-sitter
eclipse.jdt.ls
ede-projects.el
.lsp-session*
dape-breakpoints
auto-save
network-security.data
save-place
org-persist
url
